<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>
<div class="text-center">
  <% if current_user == @event.admin%>
    <%= link_to "op la",admin_index_path%>
  <% end %>
</div>


<div class="text-center">
  <h1>    
    <%= @event.title %>
  </h1>
  <p>
    <%= @event.location %>
  </p>
  <p>
    <%= @event.price %>
  </p>

  <p>
    <%= @event.start_date %>
  </p>
  <p>
    <%= @event.description %>
  </p>
  <%= link_to "rejoindre l'evenement", new_event_participant_path(@event.id)%>
  <hr>
</div>