<h1>Admin::Users#show</h1>
<p>Find me in app/views/admin/users/show.html.erb</p>
<div class="text-center">
  <h4>Les infos de moussaillons : <%= @user.first_name %> <%= @user.last_name  %></h4>

  <p>email:<mark> <%= @user.email %></mark></p>
  <code><span>First name: </span><%= @user.first_name%></code>	<br>
  
  <code><span>last_name: </span><%= @user.last_name%></code>	<br>
  <code><span>description: </span><%= @user.description%></code>	<br>

</div>